.footer {
  background-color: #136a2b;
  color: #fff;
  padding-top: 4px;
  font-family: "Poppins", sans-serif;
}

/* --- Bagian Atas Footer --- */

.footer-top {
  padding-bottom: 10px;
}

.footer-top td{
  font-size: 0.95rem;
  line-height: 1.6;
}

/* Judul setiap kolom */
.footer h5 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: 600;
  color: #ffeb3b;
  /* kuning lembut untuk kontras */
}

.footer table td {
  padding-right: 10px;
}

/* Paragraf deskripsi */
.footer-info p {
  font-size: 0.95rem;
  line-height: 1.6;
  padding-left: 0;
  text-align: justify;
}

/* Kontak */
.footer-contact ul {
  list-style: none;
  padding: 0;
}

.footer-contact li {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 0.95rem;
}

/* Ikon media sosial */
.social-icons {
  margin-left: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 1.3rem;
  margin-right: 12px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #ffeb3b;
  transform: translateY(-2px);
}

/* Map */
.footer-map .map-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Garis pemisah */
.footer-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px auto;
  width: 90%;
}

/* Bagian bawah */
.footer-bottom {
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.9rem;
}

.footer-map iframe {
  height: 200px;
  border-radius: 10px;

}

/* ============ RESPONSIVE BREAKPOINTS ============ */

/* 📱 HP (max 768px) */
@media (max-width: 768px) {
  .footer {
    padding-top: 30px;
  }

  .footer h5 {
    font-size: 1rem;
  }

    .footer-top td {
      font-size: 0.9rem;
    }

  .footer p,
  .footer-contact li {
    font-size: 0.9rem;
  }

  .footer-contact ul {
    text-align: start;
    margin-left: 6px;
  }

  .social-icons {
    margin-top: 10px;
  }

  .social-icons a {
    font-size: 1.4rem;
    margin-right: 10px;
  }

  .footer-top .row {
    flex-direction: column;
  }

  .footer-info,
  .footer-contact {
    padding: 20px;
  }

  .footer-divider {
    margin: 0;
  }

  .footer-bottom p {
    font-size: 0.7rem;
    margin-bottom: 2px;
  }
}

/* 💻 Tablet (min 769px) and (max 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding: 40px 20px;
  }

  .footer h5 {
    font-size: 1.15rem;
  }

    .footer-top td {
      font-size: 0.95rem;
    }

  .footer p,
  .footer-contact li{
    font-size: 0.95rem;
  }

  .footer-map iframe {
    height: 200px;
  }

  .social-icons a {
    font-size: 1.3rem;
  }
}