.menu-section {
  background-color: #fff;
  margin-top: 0;
  margin: 2rem 0rem;
}

.menu-section .container {
  margin-top: 0 !important;
}

.menu-card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background: #fff;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
  height: 6rem;
  width: auto;
  padding: 0.8rem;
  margin: 0.7rem 0rem;
}

.menu-card:hover {
  transform: translateY(-5px);
  background: #f0fdf4;
  border-color: #2e7d32;
}

.menu-card i {
  font-size: 2rem;
  flex-shrink: 0;
  /* biar ikon tidak mengecil */
}

.menu-card h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.icon-green {
  color: #2e7d32;
}


.menu-card p {
  font-size: 14px;
  color: #555;
  padding-left: 0;
}

.popular-date {
  padding: 0px;
}

@media (max-width: 1092px) {
  .menu-section .container {
    margin-top: 0;
  }

  .menu-section .row {
    justify-content: center;

  }

  .menu-section .row .col-5 a {
    margin: 0.6rem 0rem;
    padding: 0.8rem 0.6rem;

  }

  .menu-section.row .menu-card {
    width: auto;
    align-items: center;
    border-radius: 8px;
    padding: 0rem 0.6rem;
  }

  .menu-section.menu-card i {
    font-size: 1.4rem;
    flex-shrink: 0;
    /* biar ikon tidak mengecil */
  }

  .menu-card h5 {
    font-size: 16px;
  }

  .menu-card p {
    font-size: 13px;

  }
}

@media (max-width: 767px) {
  .menu-section {
    margin-top: 0.8rem;
    align-items: center;
  }

  .menu-section .row {
    justify-content: center;
    margin: 0;
  }

  .menu-section .row .col-5 a {
    padding: 0.4rem 0;
    margin: 0.4rem 0;
  }

  .menu-section .row .col-5 {

    margin: 0rem 0.2rem;
  }

  .menu-section .row .menu-card {
    padding-right: 0.6rem;
    width: 36vw;
    height: fit-content;
    align-items: center;
    border-radius: 6px;
    padding: 0rem 0;
  }

  .menu-section .container {
    margin: 0;
  }

  .menu-card i {
    font-size: 6vw;
    padding-left: 0.6rem;
    flex-shrink: 0;
    /* biar ikon tidak mengecil */
  }

  .menu-card h5 {
    font-size: 14px;
    margin-bottom: 0;
  }

  .menu-card p {
    display: none;
  }

}